<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-info">Seed People</a>
